<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<div id='entries'>
  <p>Entries:</p>
  <ol>
    <% @leaderboard.entries.sort_by(&:score).reverse.each_with_index do |entry, i| %>
    <li><%= entry.username %>   <%= entry.score %>
      <%= position_change(@last_positions.index(entry.id), i) unless @last_positions.nil?  %></li>
    <% unless entry.score_history.empty? %>
      <p>History: <% entry.score_history.each_with_index do |x, y| %>
          <%= link_to  x, remove_score_leaderboard_path(@leaderboard, entry, y),
          data: {:confirm => 'Are you sure?'}, method: :delete %>
      <% end %>
      </p>
    <% else %>
      <br>
    <% end %>
  <% end -%>
  </ol>
</div>

<div>
  <%= form_tag add_score_leaderboard_path(@leaderboard), method: :post do %>
    <p>
      <%= label_tag "Username" %>
      <%= text_field_tag "username" %>
    </p>
    <p>
      <%= label_tag "Score" %>
      <%= text_field_tag "score" %>
    </p>
    <%= submit_tag "Add score" %>
  <% end -%>
</div>

<hr>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
